{% extends 'base.html.twig' %}

{% block title %}New Users{% endblock %}

{% block body %}
    <h1 style="border-style: dotted;border-width: thick; border-color: blue; color: blue">Create new Users</h1>

    {{ include('get_user/_form.html.twig') }}

    <a href="{{ path('app_get_user_index') }}"><button style="font-style: italic">back to list</button></a>
{% endblock %}
